.myhero {
    width: 100%;
    height: 35rem;
    overflow: hidden;
}

.myhero img {
    width: 100%;
}

.cards {
    width: 100%;
    height: auto;
    display: block;
    padding: 2rem 0;
}

.grid {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-gap: 2%;
}

.testimonial {
    width: 100%;
    height: auto;
    padding: 1rem;
}

.testImage {
    width: 100%;
    height: 10rem;
    background: linear-gradient(180deg, rgba(8, 143, 143, 0.9), rgba(8, 143, 143, 0.5)), url(../../assets/herbs.jpg);
    background-size: cover;
    color: white;
    padding: 3rem;
    margin-bottom: 2rem;
}

.testContact {
    width: 100%;
    height: 8rem;
    background: linear-gradient(180deg, rgba(8, 143, 143, 0.9), rgba(8, 143, 143, 0.8)), url(../../assets/consult.jpg);
    background-size: cover;
    color: white;
    padding: 3rem;
    margin-bottom: 2rem;
    background-position: center;
}

.testCard {
    width: 100%;
    height: 10rem;
    background: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 1rem;
    margin-bottom: 3rem;
}

.testCard p {
    font-size: 12px;
}

.greenBtn {
    background: #088F8F;
    color: white
}



.footer {
    width: 100%;
    height: auto;
    padding: 2rem 10rem;
    display: block;
    background: rgba(8, 143, 143, 1);
    color: white;
}


.footerGrid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.footerCard {
    width: 100%;
    height: auto;
    display: block;
    padding: 1rem;
}

.footerCard ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footerCard ul li {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 2rem;
}

.footerCard ul li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}



.footerCard p {
    font-size: 12px;
}

.footerCard a {
    text-decoration: none;
    color: white;
}

.footerCard svg {
    margin-right: 1rem;
    font-size: 20px;
}

/* phone-only */
@media (max-width: 599px) {
    .cards {
        padding: 1rem;
    }

    .grid {
        grid-template-columns: 100%;
    }

    .testImage {
        padding: 1rem;
    }

    .testContact {
        padding: 1rem;
    }

    .footer {
        padding: 1rem;
    }

    .footerGrid {
        grid-template-columns: 100%;
    }
}

/* .tablet-portrait-up  */
@media (min-width: 600px) {
    .cards {
        padding: 1rem;
    }

    .grid {
        grid-template-columns: 100%;
    }

    .testImage {
        padding: 1rem;
    }

    .testContact {
        padding: 1rem;
    }

    .footer {
        padding: 1rem;
    }

    .footerGrid {
        grid-template-columns: 100%;
    }
}

/* tablet-portait-only */
@media (min-width: 600px) and (max-width: 899px) {
    .cards {
        padding: 1rem;
    }

    .grid {
        grid-template-columns: 100%;
    }

    .testImage {
        padding: 1rem;
    }

    .testContact {
        padding: 1rem;
    }

    .footer {
        padding: 1rem;
    }

    .footerGrid {
        grid-template-columns: 100%;
    }
}

/* tablet-landscape-up */
@media (min-width: 900px) {
    .cards {
        padding: 2rem 0rem;
    }

    .grid {
        grid-template-columns: 50% 50%;
    }

    .testImage {
        padding: 3rem;
    }

    .testContact {
        padding: 3rem;
    }

    .footer {
        padding: 2rem 10rem;
    }

    .footerGrid {
        grid-template-columns: 33% 33% 33%;
    }
}

/* tablet-landscape-only */
@media (min-width: 900px) and (max-width: 1199px) {
    .cards {
        padding: 2rem 0rem;
    }

    .grid {
        grid-template-columns: 23% 23% 23% 23%;
    }

    .testImage {
        padding: 3rem;
    }

    .testContact {
        padding: 3rem;
    }

    .footer {
        padding: 2rem 10rem;
    }

    .footerGrid {
        grid-template-columns: 33% 33% 33%;
    }
}

/* desktop-only */
@media (min-width: 1300px) and (max-width: 1799px) {
    .cards {
        padding: 2rem 0rem;
    }

    .grid {
        grid-template-columns: 23% 23% 23% 23%;
    }

    .testImage {
        padding: 3rem;
    }

    .testContact {
        padding: 3rem;
    }

    .footer {
        padding: 2rem 10rem;
    }

    .footerGrid {
        grid-template-columns: 33% 33% 33%;
    }
}

/* big-desktop-up */
@media (min-width: 1800px) {
    .cards {
        padding: 2rem 0rem;
    }

    .grid {
        grid-template-columns: 23% 23% 23% 23%;
    }

    .testImage {
        padding: 3rem;
    }

    .testContact {
        padding: 3rem;
    }

    .footer {
        padding: 2rem 10rem;
    }

    .footerGrid {
        grid-template-columns: 33% 33% 33%;
    }
}